In [6]:
a=4
b=5
c=9.1
week="September"
print(a+b+c)
print(week)

18.1
September

In [8]:
first=10
second=20
third=30

my_list=[first,second,third]
print(my_list)
type(my_list)

[10, 20, 30]

list

In [12]:
my_list_and_str=["emre",first,second,third]
print(my_list_str)

type(my_list_str[0])

['emre', 10, 20, 30]

str

In [13]:
value=my_list_and_str[0]
print(value)

emre

In [14]:
list_divide= my_list_and_str[0:4]
print(list_divide)

['emre', 10, 20, 30]

In [15]:
dir(my_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [17]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [25]:
my_list_int=[0,1,2,3]
my_list_int.append(4)
print(my_list_int)

[0, 1, 2, 3, 4]

In [26]:
my_list_int.remove(0)
print(my_list_int)

[1, 2, 3, 4]

In [27]:
my_list_int.reverse()
print(my_list_int)

[4, 3, 2, 1]

In [29]:
for each in range (2,9):
  print(each)

2
3
4
5
6
7
8

In [30]:

for each in "kırıkkale":
    
    print(each)

k
ı
r
ı
k
k
a
l
e

In [32]:
list1=[3,4,5,6,6]
list2=[4,5,65,6,7] 
sum(list1+list2)

111

In [33]:
min(list1)+min(list2)

7

In [42]:
for i in range(1,101):
    if i%3==0 or i%5==0:
        print(i)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
100

In [47]:
minNumber = list1[0]
maxNumber = list1[0]
 
for i in range(0,4):
    if minNumber > list1[i]:
        minNumber = list1[i]
    if maxNumber < list1[i]:
        maxNumber = list1[i]
        
print("Dizideki En Büyük Değer : {0} ".format(maxNumber))
print("Dizideki En Küçük Değer : {0} ".format(minNumber))

Dizideki En Büyük Değer : 6
Dizideki En Küçük Değer : 3

In [50]:

1 == False #False
1 == True #True

True

In [51]:
number1=99
number2=49

if (number1 < number2):
    
    print("number1 kucuktur number2'den")
    
elif (number1 == number2):
    print("number1 eşittir number2 ye")
    
else :
    
    print("number1 buyuktur number2'den")

number1 buyuktur number2'den

In [56]:
i=10
while (i>0):
    
    print(i)
    
    i = i-1

10
9
8
7
6
5
4
3
2
1

In [59]:
def cember_alan(r,pi=3.14):    
 
    output = pi*r*r
    
    return output

cember_alan(2)

12.56

In [63]:
def dikdortgen_alani(x,y):
    
    output= x*y/2
    
    return output

sonuc = dikdortgen_alani(3,4)
sonuc

6.0

In [64]:
output2 = lambda x,y: x*y/2 

print(output2(3,4))

6.0

In [65]:

yaslar = {"emre":23, "zeynep":34, "neva":33}

type(yaslar) 

yaslar["emre"]

23

In [70]:
type(yaslar["emre"]) 
yaslar.keys() 
yaslar.values()

def function():
    
    dictionary = {"emre":34, "zeynep":34, "neva":33}
    
    return dictionary

dic = function()

dic["emre"]

34

In [75]:
def yassum():

    return yaslar["emre"]+yaslar["zeynep"]

yassum()

57

In [76]:
keys = yaslar.keys() 

if "ali" in keys: 
    
    print("evet")

else:
    print("hayır")

hayır